 .u-section-1 {
  background-image: url("images/hghhy.jpg");
  background-position: 50% 50%;
  min-height: 830px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 830px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 94px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px 8px 0 0;
}

.u-section-1 .u-line-1 {
  width: 482px;
  transform-origin: left center 0px;
  margin: 20px 16px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-weight: 700;
  margin: 34px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -177px 102px 0 124px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 8px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 136px auto 0 0;
  padding: 15px 45px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7778em;
}

.u-section-1 .u-image-1 {
  min-height: 723px;
  background-image: url("images/1111.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 538px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 431px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 57px;
    margin-left: 79px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none;
  }

  .u-section-1 .u-image-1 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-line-1 {
    width: 321px;
  }

  .u-section-1 .u-image-1 {
    min-height: 617px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 604px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1101px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 125px;
  }

  .u-section-1 .u-image-1 {
    min-height: 368px;
  }
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(#5e5a63, #2d2933);
}

.u-section-2 .u-sheet-1 {
  min-height: 1819px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  width: 724px;
  font-weight: 600;
  font-style: italic;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-2 .u-list-1 {
  height: auto;
  width: 867px;
  margin: 34px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1364px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-2 .u-group-1 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-2 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-2 .u-group-2 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-2 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-2 .u-group-3 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 0;
}

.u-section-2 .u-line-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-2 .u-group-4 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 60px;
  padding: 15px 97px 15px 95px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 681px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-1 {
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-line-2 {
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-line-3 {
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-line-4 {
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 485px;
  }

  .u-section-2 .u-group-1 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 485px;
  }

  .u-section-2 .u-group-2 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 485px;
  }

  .u-section-2 .u-group-3 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 485px;
  }

  .u-section-2 .u-group-4 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 305px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 305px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 305px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 305px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2149px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 105px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#5e5a63, #2d2933);
}

.u-section-3 .u-sheet-1 {
  min-height: 779px;
}

.u-section-3 .u-group-1 {
  width: 573px;
  min-height: 617px;
  height: auto;
  margin: 80px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-transform: uppercase;
  font-weight: 700;
  margin: 42px auto 0 0;
  padding: 6px 12px 7px 11px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2778em;
  vertical-align: 0px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 525px;
  margin: -585px 0 52px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 533px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-3 .u-group-2 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 24px;
}

.u-section-3 .u-group-3 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: bold;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 24px;
}

.u-section-3 .u-group-4 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: bold;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 30px 24px;
}

.u-section-3 .u-group-5 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  font-weight: bold;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-3 .u-group-1 {
    width: 435px;
    min-height: 755px;
    height: auto;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }

  .u-section-3 .u-list-1 {
    width: 488px;
    margin-top: -654px;
    margin-bottom: 161px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
    transition-duration: 0.5s;
    margin: 0 auto;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 0 auto;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 0 auto;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-3 .u-group-1 {
    min-height: 616px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-3 {
  border-color: transparent !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-5 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-text-5 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-5 {
  border-color: transparent !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-7 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-7 {
  border-color: transparent !important;
}

.u-section-3 .u-text-9,
.u-section-3 .u-text-9:before,
.u-section-3 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-text-9 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-9 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-text-9 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-9 {
  border-color: transparent !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }
}